// Font
$mainFont                : 'Verdana', sans-serif;
$primaryFont             : 'BebasNeue', sans-serif;

$mainFontColor           : #000000;
$primaryFontColorDark    : #222222;
$primaryFontColorLight   : #E5E5E5; 
$secondaryFontColor      : #828282;
$menuFontColor           : #A0A0A0;
$buttonFontColor         : #FC104F;
$buttonFontNoActive      : #F94877;
$saleFontColor           : #F44336;

$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// Size
$desktopWidth            : 1280px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

//Padding
$mainPadding             : 150px;
$desktopPadding          : 50px;
$tablePadding            : 16px;


// Default color
$defaultColorWhite       : #ffffff;
$defaultColorDark        : #222222;
$primaryColor            : #F94877;
$backgroundColorLight    : #f1f1f1; 


// Border Color
$borderActive            : #FC104F;
$borderSearch            : #828282 ;
$borderВecorative        : #C4C4C4;
