#main-conteiner{
    .conteiner_popular-products{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: $defaultColorWhite;
        margin-top: 30px;
        padding: 30px;
        h1{
            font-size: 20px;
            line-height: 24px;
            color: $primaryFontColorDark;
            max-width: 195px;
            border-bottom: 1px solid $defaultColorDark;
            padding-bottom: 10px;
            &+div{
                display: block;
                width: 100%;
                border-bottom: 1px solid $borderВecorative;
                margin-bottom:30px;
            }
        }
        .conteiner-products.owl-carousel{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            flex-shrink: 0;
            .product{
                margin-bottom: 20px;
                padding: 10px;
                &:hover{
                    background: #FFFFFF;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
                    transform: scale(1.1); 
                }
                h2.pruduct_section-name{
                    display: inline-block;
                    font-size: 13px;
                    line-height: 16px;
                    color: $defaultColorWhite;
                    background-color: $defaultColorDark;
                    padding: 5px 18px;
                }
                .product_img{
                    height: 275px;
                    width: 216px;
                    background: $defaultColorWhite no-repeat center/contain;
                }
                h4.product-name{
                    max-width: 253px;
                    height: 38px;
                    font-size: 16px;
                    line-height: 19px;
                    color: $primaryFontColorDark;

                }
                .product_pay-container{
                    display: flex;
                    flex-direction: column;
                    &:before{
                        content: '';
                        width: 100%;
                        border-top: 1px solid $secondaryFontColor;
                        margin: 30px 0 20px;
                    }
                    > div{
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        .product_cost{
                            display: flex;flex-direction: column;
                            .cost{
                                color: $primaryFontColorDark;
                                font-size: 16px;
                                font-weight: 900;
                                &.discount-sale{
                                    text-decoration: line-through;
                                    font-weight: 500;
                                    &+span.discount{
                                        display: block;
                                        font-weight: 900;
                                    }
                                }
                            }
                            .discount{
                                display: none;
                                font-size: 16px;
                                line-height: 19px;

                                color: $saleFontColor;
                            }
                        }
                        .bttn-pay{
                            background: $primaryColor;
                            @include menu-text;
                            color: $defaultColorWhite;
                            padding: 0 15px;
                            display: flex;
                            align-items: center;
                            &::before{
                                content: '';
                                display: block;
                                width: 20px;
                                height: 15px;
                                background: url('../img/basket_icon.png') no-repeat center/contain;
                                margin-right: 13px;
                                transform: translateY(-3px);
                            }
                        }
                    }
                }
            }
            .owl-nav {
                position: absolute;
                top:0;
                bottom: 0;
                right: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 30px;
                button{
                    font-size: 60px;
                }
            }
            .owl-dots{
                display: none;
            }
        }
    }
}

@media screen and (max-width: $tableWidth) {
    #root{
        #main-conteiner{
            .conteiner_popular-products{
                .conteiner-products.owl-carousel{
                    .product{
                        &:nth-last-child(-n+2){
                        display: none;
                        }
                        &:after{
                            content: '';
                            display: block;
                            width: calc(100% + 66px);
                            border-top: 1px solid $secondaryFontColor;
                            margin: 30px -33px 0;
                        }
                        .product_pay-container{
                            min-width: 253px;
                        }
                    }
                }
            }
        }
    }
}